---
# Only the main Sass file needs front matter (the dashes are enough)
---

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:	 16px !default;
$base-font-weight: 400 !default;
$small-font-size:	$base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:		 30px !default;

$text-color:		#FFF !default;
$link-color:		#FFF !default;
$alink-color:		#FFFF00 !default;
$vlink-color:		#0000FF !default;
$background-color:	#000 !default;
$brand-color:		#2a7ae2 !default;

$grey-color:			 #FFF !default;
$grey-color-light: #FFF !default;
$grey-color-dark:	#FFF !default;

$table-text-align: left !default;

// Width of the content area
$content-width:		800px !default;

$on-palm:					600px !default;
$on-laptop:				800px !default;

@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

@mixin relative-font-size($ratio) {
	font-size: $base-font-size * $ratio;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Merriweather';
	src: url('Merriweather-Regular.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Merriweather';
	src: url('Merriweather-Italic.woff2') format('woff2');
	font-display: swap;
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: 'Merriweather';
	src: url('Merriweather-Bold.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: 'Merriweather';
	src: url('Merriweather-BoldItalic.woff2') format('woff2');
	font-display: swap;
	font-style: italic;
	font-weight: bold;
}

body {
	font-family: 'Merriweather';
	font-size: 13pt;
	color: $text-color;
	background-color: $background-color;
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin-bottom: 12pt;
}

h1, h2, h3, h4, h5, h6, blockquote, pre, ol, dl, figure,
%vertical-rhythm {
	text-align: left;
	margin-bottom: 8pt;
	margin-top: 15pt;
}

main {display: block;}

img {
	max-width: 100%;
	display: block;
	margin-bottom: 14pt;
	margin-top: 14pt;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid white;
}

figure > img {display: block;}

figcaption {font-size: $small-font-size;}

ul, ol {
	margin-left: 0pt;
	text-indent: 5pt;
	text-align: left;
	list-style-type: "âƒ ";
	list-style-position: inside;
	text-align: left;
	hyphens: auto;
	margin-bottom: 15pt;
}

p {
	text-align: left;
	text-indent: 0pt;
	hyphens: auto;
	margin-bottom: 15pt;
	line-height: 1.45;
}

.on {font-variant-numeric: oldstyle-nums;}

li {
	> ul,
	> ol {
		margin-bottom: 15pt;
		line-height: 1.45;
	}
	margin-bottom: 15pt;
	line-height: 1.45;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: $base-font-weight;
}

a {
	color: $link-color;
	text-decoration: none;

	&:visited {
		color: darken($text-color, 20%);
	}

	&:hover {
		color: $link-color;
		background: #0000ff;
	}
}

blockquote {
	color: $grey-color;
	border-left: 4px solid $grey-color-light;
	padding-left: $spacing-unit / 2;
	@include relative-font-size(1.125);
	letter-spacing: -1px;
	font-style: italic;

	> :last-child {margin-bottom: 0;}
}


pre,
code {
	@include relative-font-size(0.9375);
	border: 1px solid $grey-color-light;
	border-radius: 3px;
	background-color: #eef;
}

code {padding: 1px 5px;}

pre {
	padding: 8px 12px;
	overflow-x: auto;

	> code {
		border: 0;
		padding-right: 0;
		padding-left: 0;
	}
}

.wrapper {
	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
	max-width:				 calc(#{$content-width} - (#{$spacing-unit} * 2));
	margin-right: auto;
	margin-left: auto;
	padding-right: $spacing-unit;
	padding-left: $spacing-unit;
	@extend %clearfix;

	@include media-query($on-laptop) {
		max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
		max-width:				 calc(#{$content-width} - (#{$spacing-unit}));
		padding-right: $spacing-unit / 2;
		padding-left: $spacing-unit / 2;
	}
}
.mnwnd {
	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
	max-width:				 calc(#{$content-width} - (#{$spacing-unit} * 2));
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	padding-right: $spacing-unit;
	padding-left: $spacing-unit;
	color: white;
	border: 2px solid white;
	background: #333333;
	@extend %clearfix;

	@include media-query($on-laptop) {
		max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
		max-width:				 calc(#{$content-width} - (#{$spacing-unit}));
		padding-right: $spacing-unit / 2;
		padding-left: $spacing-unit / 2;
	}
}

%clearfix:after {
	content: "";
	display: table;
	clear: both;
}

table {
	margin-bottom: $spacing-unit;
	width: 100%;
	text-align: $table-text-align;
	color: lighten($text-color, 18%);
	border-collapse: collapse;
	border: 1px solid $grey-color-light;
	tr {
		&:nth-child(even) {background-color: lighten($grey-color-light, 6%);}
	}
	th, td {padding: ($spacing-unit / 3) ($spacing-unit / 2);}
	th {
		background-color: lighten($grey-color-light, 3%);
		border: 1px solid darken($grey-color-light, 4%);
		border-bottom-color: darken($grey-color-light, 12%);
	}
	td {border: 1px solid $grey-color-light;}
}

.pst_ttl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.site-header {
	min-height: $spacing-unit * 1.865;
	margin-bottom: -22px;
	position: relative;
}

.site-title {
	@include relative-font-size(1.625);
	font-weight: 300;
	line-height: $base-line-height * $base-font-size * 2.25;
	letter-spacing: -1px;
	margin-bottom: 0;
	float: left;

	&,
	&:visited {color: $grey-color-dark;}
}

.site-nav {
	float: right;
	line-height: $base-line-height * $base-font-size * 2.25;

	.nav-trigger {display: none;}

	.menu-icon {display: none;}

	.page-link {
		color: $text-color;
		line-height: $base-line-height;

		// Gaps between nav items, but not on the last one
		&:not(:last-child) {margin-right: 20px;}
	}

	@include media-query($on-palm) {
		position: absolute;
		top: 9px;
		right: $spacing-unit / 2;
		background-color: $background-color;
		border: 1px solid $grey-color-light;
		border-radius: 5px;
		text-align: right;

		label[for="nav-trigger"] {
			display: block;
			float: right;
			width: 36px;
			height: 36px;
			z-index: 2;
			cursor: pointer;
		}

		.menu-icon {
			display: block;
			float: right;
			width: 36px;
			height: 26px;
			line-height: 0;
			padding-top: 10px;
			text-align: center;

			> svg {fill: $grey-color-dark;}
		}

		input ~ .trigger {
			clear: both;
			display: none;
		}

		input:checked ~ .trigger {
			display: block;
			padding-bottom: 5px;
		}

		.page-link {
			display: block;
			padding: 5px 10px;

			&:not(:last-child) {margin-right: 0;}
			margin-left: 20px;
		}
	}
}

.site-footer p {text-align: center;}

.page-heading {@include relative-font-size(2);}

.post-list-heading {@include relative-font-size(1.75);}

.post-header {
	@extend %clearfix;
	.post-title {
		display: inline;
		float: left;
	a {text-decoration: none}
	}
	.post-meta {
		display: inline;
		float: right;
		text-align: right;
		font-weight: bold;
		@include font-size(12);
	}
}

.post-content {
	margin-bottom: 20pt;
	text-align: left;
	h2 {
		@include relative-font-size(2);

		@include media-query($on-laptop) {
			@include relative-font-size(1.75);
		}
	}

	h3 {
		@include relative-font-size(1.625);

		@include media-query($on-laptop) {
			@include relative-font-size(1.375);
		}
	}

	h4 {
		@include relative-font-size(1.25);

		@include media-query($on-laptop) {
			@include relative-font-size(1.125);
		}
	}
}

/**
 * Syntax highlighting styles
 */
.highlight {
	background: #fff;
	@extend %vertical-rhythm;

	.highlighter-rouge & {
		background: #eef;
	}

	.c		 { color: #998; font-style: italic } // Comment
	.err	 { color: #a61717; background-color: #e3d2d2 } // Error
	.k		 { font-weight: bold } // Keyword
	.o		 { font-weight: bold } // Operator
	.cm		{ color: #998; font-style: italic } // Comment.Multiline
	.cp		{ color: #999; font-weight: bold } // Comment.Preproc
	.c1		{ color: #998; font-style: italic } // Comment.Single
	.cs		{ color: #999; font-weight: bold; font-style: italic } // Comment.Special
	.gd		{ color: #000; background-color: #fdd } // Generic.Deleted
	.gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
	.ge		{ font-style: italic } // Generic.Emph
	.gr		{ color: #a00 } // Generic.Error
	.gh		{ color: #999 } // Generic.Heading
	.gi		{ color: #000; background-color: #dfd } // Generic.Inserted
	.gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
	.go		{ color: #888 } // Generic.Output
	.gp		{ color: #555 } // Generic.Prompt
	.gs		{ font-weight: bold } // Generic.Strong
	.gu		{ color: #aaa } // Generic.Subheading
	.gt		{ color: #a00 } // Generic.Traceback
	.kc		{ font-weight: bold } // Keyword.Constant
	.kd		{ font-weight: bold } // Keyword.Declaration
	.kp		{ font-weight: bold } // Keyword.Pseudo
	.kr		{ font-weight: bold } // Keyword.Reserved
	.kt		{ color: #458; font-weight: bold } // Keyword.Type
	.m		 { color: #099 } // Literal.Number
	.s		 { color: #d14 } // Literal.String
	.na		{ color: #008080 } // Name.Attribute
	.nb		{ color: #0086B3 } // Name.Builtin
	.nc		{ color: #458; font-weight: bold } // Name.Class
	.no		{ color: #008080 } // Name.Constant
	.ni		{ color: #800080 } // Name.Entity
	.ne		{ color: #900; font-weight: bold } // Name.Exception
	.nf		{ color: #900; font-weight: bold } // Name.Function
	.nn		{ color: #555 } // Name.Namespace
	.nt		{ color: #000080 } // Name.Tag
	.nv		{ color: #008080 } // Name.Variable
	.ow		{ font-weight: bold } // Operator.Word
	.w		 { color: #bbb } // Text.Whitespace
	.mf		{ color: #099 } // Literal.Number.Float
	.mh		{ color: #099 } // Literal.Number.Hex
	.mi		{ color: #099 } // Literal.Number.Integer
	.mo		{ color: #099 } // Literal.Number.Oct
	.sb		{ color: #d14 } // Literal.String.Backtick
	.sc		{ color: #d14 } // Literal.String.Char
	.sd		{ color: #d14 } // Literal.String.Doc
	.s2		{ color: #d14 } // Literal.String.Double
	.se		{ color: #d14 } // Literal.String.Escape
	.sh		{ color: #d14 } // Literal.String.Heredoc
	.si		{ color: #d14 } // Literal.String.Interpol
	.sx		{ color: #d14 } // Literal.String.Other
	.sr		{ color: #009926 } // Literal.String.Regex
	.s1		{ color: #d14 } // Literal.String.Single
	.ss		{ color: #990073 } // Literal.String.Symbol
	.bp		{ color: #999 } // Name.Builtin.Pseudo
	.vc		{ color: #008080 } // Name.Variable.Class
	.vg		{ color: #008080 } // Name.Variable.Global
	.vi		{ color: #008080 } // Name.Variable.Instance
	.il		{ color: #099 } // Literal.Number.Integer.Long
}
