---
layout: default
---
<div class="home">
<br>

<div class="post-list">
{%- for post in paginator.posts -%}
<article class="post">
	<header class="post-header">
		<h1 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
		<p class="post-meta"><time><font size="3pt">{{ post.date | date: "%d.%m.%Y" }}</font></time></p>
	</header>
	<div class="post-content">{{ post.excerpt | strip_html | truncatewords:64 }}
	<p><a class="post-link" style="text-align:right;" href="{{ post.url }}">Продолжить чтение →</a></p></div>
</article>
{% endfor %}</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="previous">← Предидущие</a>
	{% else %}
		<span class="previous">← Предидущие</span>
	{% endif %}
	|
	<span class="page_number ">Страница {{ paginator.page }} из {{ paginator.total_pages }}</span>
	|
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="next">Следующие →</a>
	{% else %}
		<span class="next ">Следующие →</span>
	{% endif %}
</div>
{% endif %}
</div>
